<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="./vue.js"></script>
  <title>Vue.js</title>
</head>
<body>

  <div id="app">
    
    <p v-if="logado">Usuário está logado.</p>
    <p v-show="logado">Usuário está logado.</p>

    <!-- <template v-if="logado">
      
      <button @click="logado = false">Deslogar</button>
    </template>
    <template v-else>
      
      <button @click="logado = true">Logar</button>
    </template> -->
    
  </div>
  
  <script>

    const vm = new Vue({
      el: "#app",
      data: {
        logado: true
      }
    })

  </script>

</body>
</html>